---
import planets from "@/assets/data/planets.json";
import chevron from "@/assets/img/icon-chevron.svg";
import burger from "@/assets/img/icon-hamburger.svg";
---

<div class="flex-1">
	<h1 class="pl-4 text-xl uppercase">The Planets</h1>
</div>
<div class="drawer drawer-end w-fit">
	<input id="planet-menu" type="checkbox" class="drawer-toggle" />
	<div transition:persist class="drawer-content">
		<label
			for="planet-menu"
			class="btn btn-square btn-ghost drawer-button z-20"
		>
			<img src={burger.src} alt="burger menu icon" />
		</label>
	</div>
	<div
		transition:persist
		class="drawer-side z-10 bg-transparent"
		style={{
			height: "calc(100% - 57px)",
			transform: "translateY(57px)",
		}}
	>
		<ul class="menu min-h-full w-full bg-base p-4 text-white">
			{
				planets.map(({ name, color }) => {
					return (
						<li class="px-2">
							<a
								class:list={{
									"border-b-0": name === "Neptune",
								}}
								class="h-fit rounded-none border-b border-b-white border-opacity-20 px-0 py-6"
								rel="prefetch"
								href={`/${name.toLowerCase()}/overview`}
							>
								<div
									style={{
										backgroundColor: color,
									}}
									class="mr-3 h-5 w-5 rounded-full"
								/>
								<span class="text-lg font-bold uppercase">
									{name}
								</span>
								<img src={chevron.src} class="ml-auto mr-0" />
							</a>
						</li>
					);
				})
			}
		</ul>
	</div>
</div>
